<!DOCTYPE html>
<html lang="en">
  <head>
    {{ include "layouts/head" }} 
  </head>
  <body>
    {{ include "layouts/nav" }}    
    <main>
      <div class="container">
        <ul class="toolbar">{{ template "toolbar" . }}</ul>
        <h2>{{ .title }}</h2>
        {{ template "content" . }}
      </div>
    </main>
    {{ include "layouts/footer" }}
  </body>
</html>
