{{ define "toolbar" }}
    <li>
      <a href="{{ siteurl }}repo/view/{{ .repo.ID }}">
        <i class="fa fa-chevron-left"></i>{{ .repo.Name }}
      </a>
    </li>
    {{ if aclCheck .acl "AclView" }}
        {{ if eq .build.Status "finished" "failed" }}
        <li>
            <a href="{{ siteurl }}build/log/{{ .build.ID }}" target="_blank"><i class="fa fa-th-list"></i>View Log</a>
        </li>
        {{ end }}
    {{ end }}
    {{ if aclCheck .acl "AclView" }}
        {{ if eq .build.Status "finished" }}
            {{ if eq .build.Zip "" }}
            <li>
                <a href="#" class="deactivated"><i class="fa fa-times"></i>No Artifacts</a>
            </li>
                {{ else }}
            <li>
                <a href="{{ siteurl }}zip/{{ .build.Zip }}" target="_blank"><i class="fa fa-download"></i>Download Artifacts</a>
            </li>
            {{ end }}
        {{ end }}
    {{ end }}
    {{ if aclCheck .acl "AclExecute" }}
        {{ if eq .build.Status "finished" "failed" }}
        <li>
            <a href="{{ siteurl }}build/rebuild/{{ .build.ID }}"><i class="fa fa-refresh"></i>Rebuild</a>
        </li>
        {{ end }}
    {{ end }}
    {{ if aclCheck .acl "AclDelete" }}
    <li>
        <a href="{{ siteurl }}build/delete/{{ .build.ID }}"><i class="fa fa-trash"></i>Delete Build</a>
    </li>
    {{ end }}
{{ end }}

{{ define "content" }}
{{ if and (eq (config "Build.RefreshPage") "true" ) (eq .unfinished true) }}
<script>
{{ if eq (config "Api.Enable") "true" }}
document.addEventListener("DOMContentLoaded", function(event) {
    build_refresh ( {{ .build.ID }}, {{ config "Build.RefreshInterval" }});
});
{{ else }}
    setTimeout ( function () { location.reload() }, 5000 );
{{ end }}
</script>
{{ end }}
<h2>Build</h2>
  <dl class="attr_larger">
    <dt>Built on</dt>
    <dd>{{ .build.Event }}</dd>
    <dt>Commit-Author</dt>
    <dd>{{ .build.CommitAuthor }}</dd>
    <dt>Commit-Message</dt>
    <dd class="commit-message">{{ .build.CommitMessage }}</dd>
    {{ if eq .build.CommitUrl "" }}{{ else }}
    <dt>View Changes</dt>
    <dd><a href="{{ .build.CommitUrl }}" target="_blank" title="View Changes">View Changes</a></dd>
    {{ end }}
  </dl>

  <span class="block">
    <span class="left-side">
    <span class="block-item block-icon">
        {{ build_status .build.Status }}
    </span>
    <span class="block-item">
      <span class="block-top-item">
          <b>{{ .repo.Name }}</b> &gt;&gt; {{ .build.Branch }}
      </span>
      <span class="block-bottom-item block-fa">
        {{ .build.CommitSha }}
      </span>
    </span>
      <span class="block-item">
        <span class="block-top-item block-fa">
        </span>
      </span>
    </span>
    <span class="right-side">
      <span class="block-item">
        <span class="block-top-item block-fa">
          <i class="fa fa-calendar-o"></i>{{ render_time .build.StartedAt }}
        </span>
        <span class="block-bottom-item block-fa">
          <i class="fa fa-calendar-check-o"></i>{{ if or (eq .build.Status "failed") (eq .build.Status "finished") }}{{ render_time .build.FinishedAt }}{{ end }}
        </span>
      </span>
      <span class="block-item block-fa">
        <i class="fa fa-clock-o"></i>{{ .build.Duration }}
      </span>
    </span>
  </span>

  {{ if eq .build.Status "queued" }}{{ else }}
    <h3 id="build_log_h3">Build Log</h3>
    {{ if eq .build.Log "" }}
      <div class="messages error">
        <span class="icon">
          <i class="fa fa-exclamation-triangle"></i>
        </span>
        <div>Build log missing.</div>
      </div>
    {{ else }}
      <script src="{{ siteurl }}static/js/ansi_escape.js"></script>
      <pre class="build-log"><code>{{ .build.Log }}</code></pre>
      <script>
        var elem = document.getElementsByClassName ( "build-log" )[0];
        var build_log_original = elem.innerText;
        var header_elem = document.getElementById ( "build_log_h3" );
        var build_log_escaped = false;

        var build_log_ansi_escape = function ( text, elem, state ) {
            if ( state == false ) {
                elem.innerHTML = ansiToHTML ( elem.innerText );
                return true;
            } else {
                elem.innerText = build_log_original;
                return false;
            }
        }
        var build_log_colour_btn = function ( headerelem ) {
            var btn = document.createElement( "button" );
            btn.innerText = "Colourful Output";
            btn.classList = [ "toggle-button" ];
            btn.addEventListener ( "click", function ( o ) {
                build_log_ansi_escape( build_log_original, elem, this.classList.contains("toggled") );
                if (this.classList.contains ( "toggled" )) {
                    this.classList.remove("toggled");
                } else {
                    this.classList.add("toggled");
                }
            });
            headerelem.parentNode.insertBefore ( btn, headerelem );
        }

        build_log_colour_btn ( header_elem );
        build_log_ansi_escape( build_log_original, elem, true );
      </script>
    {{ end }}
  {{ end }}
{{ end }}
