 {{ define "content" }}  
  <div class="login-form">
    <span class="login-header">Dummy Module Setup View</span>
    <form method="post">
        {{ .challenge }}
      <div class="form-field">
        <input type="text" name="userinput" />
      </div>
      <button class="btn-primary">Submit</button>
    </form>
  </div>
{{ end }}
{{ define "toolbar" }}{{ end }}
