{{ define "title" }}Users{{ end }}
{{ define "toolbar" }}
  {{ if .user.Superuser }}
    <li>
      <a href="{{ siteurl }}user/add">
        <i class="fa fa-plus"></i>Add User
      </a>
    </li>
  {{ end }}
{{ end }}

{{ define "content" }}
  <h2>Users</h2>
  {{ if .user.Superuser }}
    {{ range .users }}
      <div class="block-link">
        <span class="block">
          <span class="left-side">
            <span class="block-item block-icon">
              {{ if .Superuser }}
              <i class="fa fa-user-secret"></i>
              {{ else }}
              <i class="fa fa-user"></i>
              {{ end }}
            </span>
            <span class="block-item">
              <span class="block-top-item">
                  <a href="{{ siteurl }}user/{{ .ID }}">
                   {{ .Name }}
                </a>
              </span>
            </span>
          </span>
          <span class="right-side">
            <span class="block-item dashboard-icons">
              <a href="{{ siteurl }}user/repo/{{ .ID }}" title="View Repositories of {{ .Name }}" class="fa fa-folder"></a>
              <a href="{{ siteurl }}user/edit/{{.ID}}" title="Edit User" class="fa fa-pencil"></a>
            </span>
          </span>
        </span>
      </div>
    {{ end }}
  {{ else }}
  <div class="message error">
    You don't have the necessary permissions.
  </div>
  {{ end }}
{{ end }}
